<!DOCTYPE html>
<html>
<head>
  <title>Le site du meilleur prof du collège</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="center-link fade-in">
    <h1><p>M. Boudjatat, le champion du monde</p></h1>
    <h2><p>Pourquoi ?</p></h2>
    <div class="qualities-container">
      <ul>
        <li>Il est gentil</li>
        <li>Il est drôle</li>
        <li>Il consacre beaucoup de temps à ses élèves</li>
      </ul>
    </div>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
